html,body,*{
    margin: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
    border: 0;
}

img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    font-style: italic;
    shape-margin: 1rem;
}

@font-face {
    font-family: 'Roboto';
    src: url('Assets/fonts/Roboto-VariableFont_wdth,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-italic';
    src: url('Assets/fonts/Roboto-Italic-VariableFont_wdth,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    margin: 0 16rem;
}

.hero{
    display: flex;
    justify-content: space-between;
    margin: 10rem 16rem;
    height: 20rem;
}

body{
    background-color: #1f2937;
}

ul{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
}

.hero-sep{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.hero-main{
    font-size: 4rem;
    color: #f9faf8;
    font-variation-settings: 'wght' 900;
}

.hero-sec, a{
    font-size: 1.5rem;
    color: #e5e7eb;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero-img{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
}

.img1{
    object-fit: cover;
}

.hero-button{
    background-color: #3882f6;
    padding: 0.6rem 2.5rem;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    margin-top: 0.8rem;
    font-weight: 500;
    align-self: flex-start;
}

p{
    color: #1f2937;
}
.info{
    padding: 0 16rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
}

.raninfo{
    font-size: 2.5rem;
    font-weight: 900;
    margin: 4rem 0;
}

.info-group{
    display: flex;
    gap: 5rem;
}

.info-group p{
    text-align: center;
    color: hsl(217, 23%, 22%);
    font-size: 1.2rem ;
    margin-top: 0.5rem;
}
.randcon{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    justify-content: space-between;
}

.randcard{
    width: 200px;
    height: 200px;
    border-radius: 1.2rem;
    background-color: #3882f6;
    border: #3882f6 solid 5px;
}

.rand1, .rand2, .rand3, .rand4{
    width: 100%;
    height: 100%;
    border-radius: 0.9rem;
    object-fit: cover;
}


.inspo{
    background-color: #e5e7eb; 
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote{
    font-family: 'Roboto-italic';
    font-size: 36px;
    font-weight: 250;
    color: #1f2937;
    margin: 0 30rem;
}

.thor{
    align-self: flex-end;
    margin: 0 31rem 0 30rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.cto{
    background-color: white;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctocard{
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    width: 70%;
    height: 50%;
    border-radius: 0.8rem;
}
 
.ctocon{
    align-self: center;
}
.cto1{
    color: #e5e7eb;
    font-size: 2rem;
    font-weight: bold;
}

.cto2{
    color: #e5e7eb;
    font-size: 1.5rem;
    font-weight: 400;
}
.signup{
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #3882f6;
    align-self: center;
    border-radius: 0.4rem;
    border: white 0.2rem solid;
    padding: 0.5rem 2.5rem;
}

footer{
    display: flex;
    height: 7rem;
}

.footertext{
    font-size: 1.5rem;
    font-weight: 400;
    margin: auto;
    color: #e5e7eb;
}