html,body,*{
    margin: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
    outline: red solid 2px;
    border: 0;
}

img{
    /* vertical-align: middle; */
    max-width: 100%;
    height: auto;
    font-style: italic;
    shape-margin: 1rem;
}

@font-face {
    font-family: 'Roboto';
    src: url('Assets/fonts/Roboto-VariableFont_wdth,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    margin: 0 16rem;
}

.hero{
    display: flex;
    justify-content: space-between;
    margin: 10rem 16rem;
}

body{
    background-color: #1f2937;
}

ul{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
}

.hero-sep{
    width: 40%;
}
.hero-main{
    font-size: 48px;
    color: #f9faf8;
    font-variation-settings: 'wght' 900;
}

.hero-sec, a{
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero-img{
    display: flex;
    background: green;
    width: 50%;
    height: 400px;;
    border: purple 2px solid;
}

p{
    color: #1f2937;
}
.info{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-group{
    display: flex;
}

.inspo{
    background-color: #e5e7eb;  
}

.quote{
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}